{% extends 'base.html' %}

{% block body %}
{% include "_nav.html" %}
{% include "_messages.html" %}
<form action="{{ url_for('flask_security.authenticate') }}" method="POST" name="login_form">
  {{ form.hidden_tag() }}
  {{ form.email.label }} {{ form.email(class='span5') }}<br/>
  {{ form.password.label }} {{ form.password(class='span5') }}<br/>
  {{ form.remember.label }} {{ form.remember }}<br/>
  {{ form.next }}
  {{ form.submit(class='btn btn-inverse btn-large') }}
</form>
<p>{{ content }}</p>

{% endblock %}

